* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*To dO, fix the widths of the input boxes
maybe move add book button to the left

style the grid with the books on it
why no scrollbar when the grid gets bigger?*/


:root {
    --main-border: 2px solid rebeccapurple;
    --main-border-radius: 5px;
    --input-bar-size: 200px;

}

.header {
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin-top: 15px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
   
}


.book-container {
    /* height: 400px; */
    padding: 20px;
    width: 90%;
    margin-top: 40px;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    
}

.book-container div {
    border: 1px solid orange;
    text-align: center;
}

.form-container {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
}

.form-container .form-div {
    /* margin: 5px; */
    /* border: 1px solid red; */
}

.form-div {
    margin-top: 15px;
    
}

.form-div.f2 {
    margin-left: 16px;
}

.form-div.f3 {
    margin-left: 92px;
}

.form-div.f4 {
    margin-right: 184px;
}

.form-div.f5 {
    margin-right: 153px;
}

.form-div input[type='text'],.form-div input[type='number'] {
    width: var(--input-bar-size);
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 3px;
    font-size: 14px;
    padding: 1px;
}




.form-div label {
    font-size: 16px;
    letter-spacing: 1px;
    
}

.remove-button {
    width: 20px;
    border-radius: 50%;
    color: red;
    background-color: white;
}

.read-button {
    
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.addBookButton {
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;

    border-radius: 3px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    
}

.addBookButton:hover {
    background-color: #76AEED;
}

.addBookButton:active {
    background-color: #407FC7;
  }